<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
 <ion-card center>
   <ion-card-header>Datos Usuario</ion-card-header>
   <ion-card-content>
    <ion-list>
      <!-- <ion-item>
        <ion-label position= "floating">Usuario:</ion-label>
        <ion-input type="text" [(ngModel)]="user"></ion-input>
      </ion-item> -->
      <ion-item>
        <ion-input  placeholder="Usuario" type="text"  [(ngModel)]="user"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input  placeholder="Contraseña" [type]="showPassword ? 'text' : 'password'" [(ngModel)]="pass"></ion-input>
      </ion-item>
    </ion-list>
    <div padding>
      <ion-button block (click)=ingresar()>Ingresar</ion-button>
      
    </div>
   
   </ion-card-content>
 </ion-card>
</ion-content>
